 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Ubuntu:wght@500&display=swap');

 body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
 }
 .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: aliceblue; */
 }
 .formDetails{
   height: 400px;
   width: 60%;
   background-color: aliceblue;
   border-radius: 10px;
   display: flex;
   justify-content: center;



 }
.synccliaDetails{
   background-color: #fff;
   width: 30%;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
