 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Ubuntu:wght@500&display=swap');

 body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    
 }
 .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    


    /* background-color: silver; */
    /* background-color: aliceblue; */
 }
 .formDetails{
   height: 350px;
   width: 25%;
   background-color: white;
   opacity: 0.7;
   border-radius: 5px;
   border: 2px solid green;
   display: flex;
   justify-content: center;
   margin: 0 auto ;
   margin-right: 300px;
   margin-top: 100px;
   color: green;

 }
 .formDetails:hover{
   background-color: lightgreen;
 }
 .formDetails h2{
   margin: 10px;
   color: black;
 }
.synccliaDetails{
   /* background-color: #fff; */
   width: 40%;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.synccliaDetails h1{
   font-size: 4rem;
   color: green;
}
.synccliaDetails p{
   font-size: 1.8rem;
   padding: 20px;
}
#join-para{
   font-size: 1.2rem;
}
.para{
   /* width: 0%; */
   margin: 0 auto;
   padding: 20px;
   align-items: center;
   /* color: white; */
}
.para p{
   padding: 10px;
   /* background-color: white; */
}
h2{
   padding-top: 20px;
   font-size: 2.5rem;
   
}
input{
   margin: 0 auto;
   align-items: center;
   font-size: 1rem;
   width: 90%;
   height: 2rem;
   padding: 10px;
   margin: 5px;
   border-radius: 3px;
}
#register-para{
   padding-top: 20px;
}
#submit-btn{
    display: flex;
    justify-content: center; 
   /* align-items: center;
   align-content: center;  */ 
   margin: 0 auto;
   width: 60%;
   /* margin-left: 50px; */
   border-radius: 5px;
   border-right-color: black;
   border-left-color: black;
   border-bottom: none;
   border-top: none;
   background-color: green;
   color: white;
   margin-top: 10px;

 
}
span #btn{
   display: flex;
   justify-content: center;
   margin: 0 auto;
   padding: 5px;
   /* margin-left: 10px; */
   width: 60%;
   color: white;
   border: none;
   border-radius: 5px;
   border-right-color: black;
   border-left-color: black;
   border-bottom: none;
   border-top: none;
   background-color: green;
   margin-top: 5px
};